
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/booking_form.css' %}>
    <title>Booking Form</title>
    <script src= {% static "js/booking_form.js" %}></script>
</head>

<body>
    <section>
        <div class='imgbx'>
            <img src={% static 'image/Book_Boat.png' %} alt="Boat photo">  
        </div>
        <div class='contentbx'>

            <div class='formbx'>
                <div class='field'>
                <form action=''method ='POST' name="form-booking" onsubmit="validation()">
                    <div class="head">
                        <span>
                            {% if success_message %}
                              <p id="details">{{success_message}}</p>
                            {% endif %}
                            <p id="boat-name">{{plan}}</p>
                            <p id="details">Enter your details</p>
                        </span>
                    </div>
                    {% csrf_token %}
                    
                    <span>
                        <h2> Name</h2>
                    </span>
                    <div class='field'>   
                        <!-- <input type='text' ṇame ='fname' id="label-name" class='inputbx' placeholder='First Name' name=''> -->
                        {{form.fname}}
                        <!-- <input type='text' ṇame ='mname' id="label-name" class='inputbx' placeholder='Middle Name' name=''> -->
                        {{form.mname}}
                        <!-- <input type='text' ṇame ='lname' id="label-name" placeholder='Last Name' class='inputbx' name=''> -->
                        {{form.lname}}
                    </div>
                    <div class='field'> 
                    <span>
                        <h2>Email Address</h2>
                    </span>
                {{form.email}}
                </div>
                    <span>
                        <h2> Contact No.</h2>
                    </span>
                    <div class='field'>
                        {{form.cnum}}
                    </div>
                    <div>
                        <span>
                            <h2>Plan information</h2>
                        </span>
</div>
                    <div class='field'>
                        {{form.arrivedate}}
                        {{form.time}}
                        
                    </div>
                    <div>
                        <span>
                            <h2>Members</h2>
                        </span>
                    </div>
                <!-- <input type='email' ṇame ='e-mail' id="label-name" placeholder='Enter your email id' class='' name=''> -->
            </div>
                    <div class='field'>
                        {{form.adults}}
                        {{form.child}}
                    </div>
                    <div class="btn-flex">
                        <button class="btn" type="submit" name ='book_btn' value="1">Book Now</button>
                    </div>
                </form>
                
                </div>
        </div>
        </div>
    </section>
</body>
</html>